<form style="position: relative;" action='/name' method='post'>
  <img src='/images/Blackjack-895.png'/ border="0">
  <div style="position: absolute; left: 120px; top: 220px; text-align: center; width: 450px;">
  <h3 id="what_name">What is your name?</h3>
  <input type='text' name='player'>
  <input id="name_button" type="submit" class="btn">
</div>
